* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: pink;
    width: 100%;
    text-align: center;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: 25% auto 25%;
    gap: 1em;
    padding: 1em;
}
a{
    color: black;
}
nav {
    background-color: rgba(255, 192, 203, 0.555);
    text-align: center;
    padding: 1em;
    display: grid;
    align-items: center;
}

main {
    background-color: rgba(250, 250, 210, 0.452);
    text-align: center;
    padding: 1em;
    display: grid;
    align-items: center;
}

aside {
    background-color: rgba(255, 192, 203, 0.555);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer {
    background-color: pink;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1em;
    }

    aside {
        margin-bottom: 1em;
    }
}
